In [14]:
import pandas as pd
import numpy as np
import pylab as pl
import os 
import sys
import geopandas as gpd
from geopandas import GeoDataFrame
from shapely.geometry import Point
%matplotlib inline

# Download Data

# Make Data Directory
!mkdir Data

# Download Yellow Taxi Data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2015-01.csv    
!mv yellow_tripdata_2015-01.csv Data

# Download Green Taxi Data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-01.csv
!mv green_tripdata_2015-01.csv Data

# Download FHV Taxi Data
!wget https://s3.amazonaws.com/nyc-tlc/trip+data/fhv_tripdata_2015-01.csv
!mv fhv_tripdata_2015-01.csv Data

# Download Taxi Zones Data
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi_zones.zip
!mv taxi_zones.zip Data
!mkdir Data/Taxi_Zone_Shapefile
!unzip Data/taxi_zones.zip -d Data/Taxi_Zone_Shapefile

In [ ]:
# Need to read Weather data in properly

# Merge Taxi Data Sets into one

In [104]:
YT_data = pd.read_csv("Data/yellow_tripdata_2015-01.csv")
GT_data = pd.read_csv("Data/green_tripdata_2015-01.csv")
fhv_data = pd.read_csv("Data/fhv_tripdata_2015-01.csv")

In [105]:
fhv_data.head()

  Dispatching_base_num          Pickup_date  locationID
0               B00013  2015-01-01 00:30:00         NaN
1               B00013  2015-01-01 01:22:00         NaN
2               B00013  2015-01-01 01:23:00         NaN
3               B00013  2015-01-01 01:44:00         NaN
4               B00013  2015-01-01 02:00:00         NaN

In [106]:
#taxi_data.shape

In [107]:
weather_data = pd.read_csv("Data/1106040.csv")

In [108]:
#taxi_data.tpep_pickup_datetime = pd.to_datetime(taxi_data.tpep_pickup_datetime)

In [109]:
def get_times(data):
    x, y = data
    return (x, y)

In [110]:
#taxi_data['day'] = taxi_data.tpep_pickup_datetime.dt.day
#taxi_data['hour'] = taxi_data.tpep_pickup_datetime.dt.hour

In [111]:
#taxi_data['DAY_HOUR'] = taxi_data[['day', 'hour']].apply(get_times, axis=1)

In [112]:
#taxi_data['DAY_HOUR'].head()

In [113]:
fhv_sub = fhv_data[fhv_data.locationID.isnull() == False]

In [114]:
fhv_sub.Pickup_date = pd.to_datetime(fhv_sub.Pickup_date)

In [115]:
fhv_sub['day'] = fhv_sub.Pickup_date.dt.day
fhv_sub['hour'] = fhv_sub.Pickup_date.dt.hour
fhv_sub['DAY_HOUR'] = fhv_sub[['day', 'hour']].apply(get_times, axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [116]:
fhv_fin = fhv_sub.groupby(['locationID','DAY_HOUR']).count().reset_index()

In [117]:
weather_data.Date = pd.to_datetime(weather_data.DATE)

In [118]:
weather_subdata = weather_data[weather_data.Date.dt.month == 1]

In [119]:
weather_subdata.DATE =  pd.to_datetime(weather_subdata.DATE)

In [120]:
weather_subdata['day'] = weather_subdata.DATE.dt.day
weather_subdata['hour'] = weather_subdata.DATE.dt.hour

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [121]:
weather_subdata['DAY_HOUR'] = weather_subdata[['day','hour']].apply(get_times, axis=1)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [122]:
weather_subdata['DAY_HOUR'].head()

8789    (1, 0)
8790    (1, 1)
8791    (1, 2)
8792    (1, 3)
8793    (1, 4)
Name: DAY_HOUR, dtype: object

In [123]:
#merged_taxi = taxi_data.merge(weather_subdata, left_on='DAY_HOUR', right_on='DAY_HOUR')

In [124]:
#merged_taxi.shape

In [125]:
weather_subdata.columns

Index([u'STATION', u'STATION_NAME', u'ELEVATION', u'LATITUDE', u'LONGITUDE',
       u'DATE', u'REPORTTPYE', u'HOURLYSKYCONDITIONS', u'HOURLYVISIBILITY',
       u'HOURLYPRSENTWEATHERTYPE', u'HOURLYDRYBULBTEMPF',
       u'HOURLYDRYBULBTEMPC', u'HOURLYWETBULBTEMPF', u'HOURLYWETBULBTEMPC',
       u'HOURLYDewPointTempF', u'HOURLYDewPointTempC',
       u'HOURLYRelativeHumidity', u'HOURLYWindSpeed', u'HOURLYWindDirection',
       u'HOURLYWindGustSpeed', u'HOURLYStationPressure',
       u'HOURLYPressureTendency', u'HOURLYPressureChange',
       u'HOURLYSeaLevelPressure', u'HOURLYPrecip', u'HOURLYAltimeterSetting',
       u'DAILYMaximumDryBulbTemp', u'DAILYMinimumDryBulbTemp',
       u'DAILYAverageDryBulbTemp', u'DAILYDeptFromNormalAverageTemp',
       u'DAILYAverageRelativeHumidity', u'DAILYAverageDewPointTemp',
       u'DAILYAverageWetBulbTemp', u'DAILYHeatingDegreeDays',
       u'DAILYCoolingDegreeDays', u'DAILYSunrise', u'DAILYSunset',
       u'DAILYWeather', u'DAILYPrecip', u'DAILYSnowfall', u'DAILYSnowDepth',
       u'DAILYAverageStationPressure', u'DAILYAverageSeaLevelPressure',
       u'DAILYAverageWindSpeed', u'DAILYPeakWindSpeed', u'PeakWindDirection',
       u'DAILYSustainedWindSpeed', u'DAILYSustainedWindDirection',
       u'MonthlyMaximumTemp', u'MonthlyMinimumTemp', u'MonthlyMeanTemp',
       u'MonthlyAverageRH', u'MonthlyDewpointTemp', u'MonthlyWetBulbTemp',
       u'MonthlyAvgHeatingDegreeDays', u'MonthlyAvgCoolingDegreeDays',
       u'MonthlyStationPressure', u'MonthlySeaLevelPressure',
       u'MonthlyAverageWindSpeed', u'MonthlyTotalSnowfall',
       u'MonthlyDeptFromNormalMaximumTemp',
       u'MonthlyDeptFromNormalMinimumTemp',
       u'MonthlyDeptFromNormalAverageTemp', u'MonthlyDeptFromNormalPrecip',
       u'MonthlyTotalLiquidPrecip', u'MonthlyGreatestPrecip',
       u'MonthlyGreatestPrecipDate', u'MonthlyGreatestSnowfall',
       u'MonthlyGreatestSnowfallDate', u'MonthlyGreatestSnowDepth',
       u'MonthlyGreatestSnowDepthDate', u'MonthlyDaysWithGT90Temp',
       u'MonthlyDaysWithLT32Temp', u'MonthlyDaysWithGT32Temp',
       u'MonthlyDaysWithLT0Temp', u'MonthlyDaysWithGT001Precip',
       u'MonthlyDaysWithGT010Precip', u'MonthlyDaysWithGT1Snow',
       u'MonthlyMaxSeaLevelPressureValue', u'MonthlyMaxSeaLevelPressureDate',
       u'MonthlyMaxSeaLevelPressureTime', u'MonthlyMinSeaLevelPressureValue',
       u'MonthlyMinSeaLevelPressureDate', u'MonthlyMinSeaLevelPressureTime',
       u'MonthlyTotalHeatingDegreeDays', u'MonthlyTotalCoolingDegreeDays',
       u'MonthlyDeptFromNormalHeatingDD', u'MonthlyDeptFromNormalCoolingDD',
       u'MonthlyTotalSeasonToDateHeatingDD',
       u'MonthlyTotalSeasonToDateCoolingDD', u'day', u'hour', u'DAY_HOUR'],
      dtype='object')

In [126]:
#merged_taxi[['tpep_pickup_datetime','DATE']].head()

In [127]:
merged_fhv = fhv_fin.merge(weather_subdata, left_on='DAY_HOUR', right_on='DAY_HOUR')

In [128]:
merged_fhv.head()

,locationID,DAY_HOUR,Dispatching_base_num,Pickup_date,day_x,hour_x,STATION,STATION_NAME,ELEVATION,LATITUDE,...,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD,day_y,hour_y
0,1.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
1,2.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
2,4.0,"(1, 15)",19,19,19,19,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
3,5.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
4,7.0,"(1, 15)",16,16,16,16,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15

In [129]:
taxi_zones = gpd.read_file("Data/Taxi_Zone_Shapefile/taxi_zones.shp")

In [130]:
taxi_zones.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527103 192536.0856972019,..."
1,2,0.433470,0.004866,Jamaica Bay,2,Queens,"(POLYGON ((1033269.243591294 172126.0078125, 1..."
2,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506663 256767.6975403726,..."
3,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968601 203714.0759887695,..."
4,5,0.092146,0.000498,Arden Heights,5,Staten Island,"POLYGON ((935843.3104932606 144283.335850656, ..."

In [131]:
taxi_zones.crs

{u'datum': u'NAD83',
 u'lat_0': 40.16666666666666,
 u'lat_1': 40.66666666666666,
 u'lat_2': 41.03333333333333,
 u'lon_0': -74,
 u'no_defs': True,
 u'proj': u'lcc',
 u'units': u'us-ft',
 u'x_0': 300000,
 u'y_0': 0}

In [132]:
taxi_zones = taxi_zones.to_crs(epsg=2263)

In [133]:
merged_fhv.columns

Index([u'locationID', u'DAY_HOUR', u'Dispatching_base_num', u'Pickup_date',
       u'day_x', u'hour_x', u'STATION', u'STATION_NAME', u'ELEVATION',
       u'LATITUDE', u'LONGITUDE', u'DATE', u'REPORTTPYE',
       u'HOURLYSKYCONDITIONS', u'HOURLYVISIBILITY', u'HOURLYPRSENTWEATHERTYPE',
       u'HOURLYDRYBULBTEMPF', u'HOURLYDRYBULBTEMPC', u'HOURLYWETBULBTEMPF',
       u'HOURLYWETBULBTEMPC', u'HOURLYDewPointTempF', u'HOURLYDewPointTempC',
       u'HOURLYRelativeHumidity', u'HOURLYWindSpeed', u'HOURLYWindDirection',
       u'HOURLYWindGustSpeed', u'HOURLYStationPressure',
       u'HOURLYPressureTendency', u'HOURLYPressureChange',
       u'HOURLYSeaLevelPressure', u'HOURLYPrecip', u'HOURLYAltimeterSetting',
       u'DAILYMaximumDryBulbTemp', u'DAILYMinimumDryBulbTemp',
       u'DAILYAverageDryBulbTemp', u'DAILYDeptFromNormalAverageTemp',
       u'DAILYAverageRelativeHumidity', u'DAILYAverageDewPointTemp',
       u'DAILYAverageWetBulbTemp', u'DAILYHeatingDegreeDays',
       u'DAILYCoolingDegreeDays', u'DAILYSunrise', u'DAILYSunset',
       u'DAILYWeather', u'DAILYPrecip', u'DAILYSnowfall', u'DAILYSnowDepth',
       u'DAILYAverageStationPressure', u'DAILYAverageSeaLevelPressure',
       u'DAILYAverageWindSpeed', u'DAILYPeakWindSpeed', u'PeakWindDirection',
       u'DAILYSustainedWindSpeed', u'DAILYSustainedWindDirection',
       u'MonthlyMaximumTemp', u'MonthlyMinimumTemp', u'MonthlyMeanTemp',
       u'MonthlyAverageRH', u'MonthlyDewpointTemp', u'MonthlyWetBulbTemp',
       u'MonthlyAvgHeatingDegreeDays', u'MonthlyAvgCoolingDegreeDays',
       u'MonthlyStationPressure', u'MonthlySeaLevelPressure',
       u'MonthlyAverageWindSpeed', u'MonthlyTotalSnowfall',
       u'MonthlyDeptFromNormalMaximumTemp',
       u'MonthlyDeptFromNormalMinimumTemp',
       u'MonthlyDeptFromNormalAverageTemp', u'MonthlyDeptFromNormalPrecip',
       u'MonthlyTotalLiquidPrecip', u'MonthlyGreatestPrecip',
       u'MonthlyGreatestPrecipDate', u'MonthlyGreatestSnowfall',
       u'MonthlyGreatestSnowfallDate', u'MonthlyGreatestSnowDepth',
       u'MonthlyGreatestSnowDepthDate', u'MonthlyDaysWithGT90Temp',
       u'MonthlyDaysWithLT32Temp', u'MonthlyDaysWithGT32Temp',
       u'MonthlyDaysWithLT0Temp', u'MonthlyDaysWithGT001Precip',
       u'MonthlyDaysWithGT010Precip', u'MonthlyDaysWithGT1Snow',
       u'MonthlyMaxSeaLevelPressureValue', u'MonthlyMaxSeaLevelPressureDate',
       u'MonthlyMaxSeaLevelPressureTime', u'MonthlyMinSeaLevelPressureValue',
       u'MonthlyMinSeaLevelPressureDate', u'MonthlyMinSeaLevelPressureTime',
       u'MonthlyTotalHeatingDegreeDays', u'MonthlyTotalCoolingDegreeDays',
       u'MonthlyDeptFromNormalHeatingDD', u'MonthlyDeptFromNormalCoolingDD',
       u'MonthlyTotalSeasonToDateHeatingDD',
       u'MonthlyTotalSeasonToDateCoolingDD', u'day_y', u'hour_y'],
      dtype='object')

In [134]:
merged_fhv.head(20)

,locationID,DAY_HOUR,Dispatching_base_num,Pickup_date,day_x,hour_x,STATION,STATION_NAME,ELEVATION,LATITUDE,...,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD,day_y,hour_y
0,1.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
1,2.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
2,4.0,"(1, 15)",19,19,19,19,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
3,5.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
4,7.0,"(1, 15)",16,16,16,16,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
5,10.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
6,11.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
7,12.0,"(1, 15)",4,4,4,4,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
8,13.0,"(1, 15)",10,10,10,10,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
9,14.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
10,16.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
11,17.0,"(1, 15)",14,14,14,14,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
12,18.0,"(1, 15)",5,5,5,5,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
13,20.0,"(1, 15)",6,6,6,6,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
14,22.0,"(1, 15)",3,3,3,3,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
15,24.0,"(1, 15)",3,3,3,3,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
16,25.0,"(1, 15)",8,8,8,8,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
17,26.0,"(1, 15)",2,2,2,2,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
18,28.0,"(1, 15)",2,2,2,2,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15
19,29.0,"(1, 15)",1,1,1,1,WBAN:94728,NY CITY CENTRAL PARK NY US,42.7,40.77898,...,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN,1,15

In [135]:
crs = {'init': 'epsg:4326'}

In [136]:
fhv_sub.locationID = fhv_sub.locationID.astype(int)

In [137]:
fhv_locs = taxi_zones.merge(fhv_sub, left_on='LocationID', right_on='locationID')

In [138]:
fhv_locs.head()

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry,Dispatching_base_num,Pickup_date,locationID,day,hour,DAY_HOUR
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-03 19:00:00,1,3,19,"(3, 19)"
1,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-05 10:00:00,1,5,10,"(5, 10)"
2,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-05 18:53:00,1,5,18,"(5, 18)"
3,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-08 21:05:00,1,8,21,"(8, 21)"
4,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-09 14:00:00,1,9,14,"(9, 14)"

In [139]:
fhv_all = fhv_locs.merge(weather_subdata, left_on='DAY_HOUR', right_on='DAY_HOUR')

In [140]:
fhv_all.shape

(3033516, 105)

In [141]:
temp = fhv_all.groupby(('DAY_HOUR','LocationID'))['OBJECTID'].count().reset_index()
temp.rename(columns={'OBJECTID':'COUNTS'},inplace=True)
temp.head()

  DAY_HOUR  LocationID  COUNTS
0   (1, 0)           3       3
1   (1, 0)           4      56
2   (1, 0)           7      49
3   (1, 0)           9       3
4   (1, 0)          11       6

In [142]:
fhv_all = pd.merge(fhv_all,temp,on=('DAY_HOUR','LocationID'))

In [145]:
fhv_all

,OBJECTID,Shape_Leng,Shape_Area,zone,LocationID,borough,geometry,Dispatching_base_num,Pickup_date,locationID,...,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD,day_y,hour_y,COUNTS
0,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-03 19:00:00,1,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,3
1,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-03 19:00:00,1,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,3
2,1,0.116357,0.000782,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-03 19:00:00,1,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,3
3,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506665 256767.6975524619,...",B00310,2015-01-03 19:06:00,3,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,3
4,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506665 256767.6975524619,...",B00310,2015-01-03 19:06:00,3,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,3
5,3,0.084341,0.000314,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506665 256767.6975524619,...",B00310,2015-01-03 19:06:00,3,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,3
6,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:16:28,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
7,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:16:28,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
8,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:16:28,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
9,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:48:33,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
10,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:48:33,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
11,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:48:33,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
12,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:51:05,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
13,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:51:05,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
14,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02598,2015-01-03 19:51:05,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
15,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:01:22,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
16,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:01:22,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
17,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:01:22,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
18,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:03:25,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
19,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:03:25,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
20,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:03:25,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
21,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:09:20,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
22,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:09:20,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
23,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:09:20,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
24,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:13:29,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
25,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:13:29,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
26,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:13:29,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
27,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:21:50,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
28,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:21:50,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
29,4,0.043567,0.000112,Alphabet City,4,Manhattan,"POLYGON ((992073.4667968614 203714.0760008526,...",B02617,2015-01-03 19:21:50,4,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,3,19,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3033486,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 05:16:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,8
3033487,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 05:16:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,8
3033488,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 05:16:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,8
3033489,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 05:16:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,8
3033490,247,0.092968,0.000206,West Concourse,247,Bronx,"POLYGON ((1008537.234100371 246182.7741698663,...",B02653,2015-01-27 05:53:00,247,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,4
3033491,247,0.092968,0.000206,West Concourse,247,Bronx,"POLYGON ((1008537.234100371 246182.7741698663,...",B02653,2015-01-27 05:53:00,247,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,4
3033492,247,0.092968,0.000206,West Concourse,247,Bronx,"POLYGON ((1008537.234100371 246182.7741698663,...",B02653,2015-01-27 05:53:00,247,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,4
3033493,247,0.092968,0.000206,West Concourse,247,Bronx,"POLYGON ((1008537.234100371 246182.7741698663,...",B02653,2015-01-27 05:53:00,247,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,5,4
3033494,116,0.068116,0.000260,Hamilton Heights,116,Manhattan,"POLYGON ((1001062.708569705 241053.7687335185,...",B02653,2015-01-27 01:04:00,116,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,1,2
3033495,116,0.068116,0.000260,Hamilton Heights,116,Manhattan,"POLYGON ((1001062.708569705 241053.7687335185,...",B02653,2015-01-27 01:04:00,116,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,1,2
3033496,167,0.090816,0.000168,Morrisania/Melrose,167,Bronx,"POLYGON ((1012781.408562019 242061.9132475791,...",B00457,2015-01-27 01:45:00,167,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,1,2
3033497,167,0.090816,0.000168,Morrisania/Melrose,167,Bronx,"POLYGON ((1012781.408562019 242061.9132475791,...",B00457,2015-01-27 01:45:00,167,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,1,2
3033498,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 01:37:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,1,2
3033499,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 01:37:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,1,2
3033500,169,0.060105,0.000146,Mount Hope,169,Bronx,"POLYGON ((1012420.959896477 250846.7838654674,...",B02653,2015-01-27 06:21:00,169,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,6,2
3033501,169,0.060105,0.000146,Mount Hope,169,Bronx,"POLYGON ((1012420.959896477 250846.7838654674,...",B02653,2015-01-27 06:22:00,169,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,6,2
3033502,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 03:23:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,3,2
3033503,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 03:23:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,3,2
3033504,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:26:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033505,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:26:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033506,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:26:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033507,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:40:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033508,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:40:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033509,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:40:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033510,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:50:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033511,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:50:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033512,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:50:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033513,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:50:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033514,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:50:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12
3033515,235,0.076167,0.000213,University Heights/Morris Heights,235,Bronx,"POLYGON ((1009288.915832014 253270.479823066, ...",B02653,2015-01-27 04:50:00,235,...,-9999,NaN,NaN,NaN,NaN,NaN,NaN,27,4,12

In [150]:
fhv_all2 = fhv_all.drop({'OBJECTID','Shape_Leng','Shape_Area','locationID','STATION','STATION_NAME','ELEVATION','LATITUDE',
                         'LONGITUDE','DATE','REPORTTPYE','HOURLYPRSENTWEATHERTYPE','HOURLYDRYBULBTEMPC',
                         'HOURLYWETBULBTEMPC','HOURLYDewPointTempF','HOURLYDewPointTempC',
                         'HOURLYRelativeHumidity','HOURLYWindDirection','HOURLYStationPressure',
                         'HOURLYPressureTendency','HOURLYPressureChange','HOURLYSeaLevelPressure',
                         'HOURLYAltimeterSetting','DAILYMaximumDryBulbTemp',
                         'DAILYMinimumDryBulbTemp','DAILYAverageDryBulbTemp',
                         'DAILYDeptFromNormalAverageTemp','DAILYAverageRelativeHumidity',
                         'DAILYAverageDewPointTemp','DAILYAverageWetBulbTemp','DAILYHeatingDegreeDays',
                         'DAILYCoolingDegreeDays','DAILYSunrise','DAILYSunset','DAILYWeather',
                         'DAILYPrecip','DAILYAverageStationPressure',
                         'DAILYAverageSeaLevelPressure','DAILYAverageWindSpeed','DAILYPeakWindSpeed',
                         'PeakWindDirection','DAILYSustainedWindSpeed','DAILYSustainedWindDirection',
                         'MonthlyMaximumTemp','MonthlyMinimumTemp','MonthlyMeanTemp','MonthlyAverageRH',
                         'MonthlyDewpointTemp','MonthlyWetBulbTemp','MonthlyAvgHeatingDegreeDays',
                         'MonthlyAvgCoolingDegreeDays','MonthlyStationPressure','MonthlySeaLevelPressure',
                         'MonthlyAverageWindSpeed','MonthlyTotalSnowfall','MonthlyDeptFromNormalMaximumTemp',
                         'MonthlyDeptFromNormalMinimumTemp','MonthlyDeptFromNormalAverageTemp',
                         'MonthlyDeptFromNormalPrecip','MonthlyTotalLiquidPrecip','MonthlyGreatestPrecip',
                         'MonthlyGreatestPrecipDate','MonthlyGreatestSnowfall','MonthlyGreatestSnowfallDate',
                         'MonthlyGreatestSnowDepth','MonthlyGreatestSnowDepthDate','MonthlyDaysWithGT90Temp',
                         'MonthlyDaysWithLT32Temp','MonthlyDaysWithGT32Temp','MonthlyDaysWithLT0Temp',
                         'MonthlyDaysWithGT001Precip','MonthlyDaysWithGT010Precip','MonthlyDaysWithGT1Snow',
                         'MonthlyMaxSeaLevelPressureValue','MonthlyMaxSeaLevelPressureDate',
                         'MonthlyMaxSeaLevelPressureTime','MonthlyMinSeaLevelPressureValue',
                         'MonthlyMinSeaLevelPressureDate','MonthlyMinSeaLevelPressureTime',
                         'MonthlyTotalHeatingDegreeDays','MonthlyTotalCoolingDegreeDays',
                         'MonthlyDeptFromNormalHeatingDD','MonthlyDeptFromNormalCoolingDD',
                         'MonthlyTotalSeasonToDateHeatingDD','MonthlyTotalSeasonToDateCoolingDD',
                         'day_y','hour_y'},axis=1)

In [151]:
fhv_all2.isnull().sum()

zone                          0
LocationID                    0
borough                       0
geometry                      0
Dispatching_base_num          0
Pickup_date                   0
day_x                         0
hour_x                        0
DAY_HOUR                      0
HOURLYSKYCONDITIONS      108100
HOURLYVISIBILITY         108100
HOURLYDRYBULBTEMPF       108100
HOURLYWETBULBTEMPF       108100
HOURLYWindSpeed          233218
HOURLYWindGustSpeed     2154576
HOURLYPrecip             419732
DAILYSnowfall           2925416
DAILYSnowDepth          2925416
COUNTS                        0
dtype: int64

In [159]:
fhv_all2.dropna(subset=['HOURLYDRYBULBTEMPF'],inplace=True)

In [160]:
fhv_all2.head()

,zone,LocationID,borough,geometry,Dispatching_base_num,Pickup_date,day_x,hour_x,DAY_HOUR,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYDRYBULBTEMPF,HOURLYWETBULBTEMPF,HOURLYWindSpeed,HOURLYWindGustSpeed,HOURLYPrecip,DAILYSnowfall,DAILYSnowDepth,COUNTS
0,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-03 19:00:00,3,19,"(3, 19)",OVC:08 4,3,38.0,37.0,6.0,NaN,0.07,NaN,NaN,3
1,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-03 19:00:00,3,19,"(3, 19)",OVC:08 4,2,38.0,37.0,6.0,NaN,0.08,NaN,NaN,3
2,Newark Airport,1,EWR,"POLYGON ((933100.9183527121 192536.0857092953,...",B00053,2015-01-03 19:00:00,3,19,"(3, 19)",OVC:08 4,2,39.0,38.0,6.0,NaN,0.11,NaN,NaN,3
3,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506665 256767.6975524619,...",B00310,2015-01-03 19:06:00,3,19,"(3, 19)",OVC:08 4,3,38.0,37.0,6.0,NaN,0.07,NaN,NaN,3
4,Allerton/Pelham Gardens,3,Bronx,"POLYGON ((1026308.769506665 256767.6975524619,...",B00310,2015-01-03 19:06:00,3,19,"(3, 19)",OVC:08 4,2,38.0,37.0,6.0,NaN,0.08,NaN,NaN,3